<footer id="footer">

    <div class="footer-top">

    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Compare My Move 2024</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
           
            Designed by <a>Seun Mayowa Sunday</a>
        </div>
    </div>
</footer><!-- End Footer -->