{% extends 'app.twig' %}
{% block content %}

	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
					<h1>Welcome</h1>
					<h2>At Compare My Move, our mission is simple: to help you with every step of the moving house journey. 
					</h2>
					<div class="d-flex">
						<a href="/php-tech/public/search" class="btn-get-started scrollto">View Matches</a>

					</div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img">
					<img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
				</div>
			</div>
		</div>

	</section><!-- End Hero -->



	<!-- ======= Footer ======= -->


	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}